{{/*
Copyright 2025 Tencent
SPDX-License-Identifier: MIT

ServiceAccount for WeKnora components.
Ref: https://helm.sh/docs/chart_best_practices/rbac/
*/}}
{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "weknora.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "weknora.labels" . | nindent 4 }}
    {{- with .Values.serviceAccount.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
{{- end }}
